
.wrap{
	padding-bottom: 20%;
}


.nav{
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 5%;
}

.item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #222;
	color: #fff;
	padding: 16px 12px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
	transition: 0.15s;

	&:active{
		transform: scale(0.9);
	}

	svg{
		font-size: 36px;
	}
}

